---
import Layout from "@/layouts/Layout.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import ToolList from "@/components/ToolList.astro";
---

<Layout suffix="Tools" title="FireIsTools">
  <Breadcrumb />
  <h1>All tools</h1>
  <hr />
  <ToolList />
</Layout>
