---
import Layout from "@/layouts/Layout.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Ending from "@/components/Ending.astro";
import { Image } from "astro:assets";

import thumbImage from "@/images/random-number-generator.png";
---

<Layout
  suffix="Tools"
  title="FireIsTools - Random Number Generator"
  description="Random number generator"
  image={thumbImage.src}
>
  <Breadcrumb />
  <article>
    <header>
      <div class="cover">
        <Image width={1920} height={960} src={thumbImage} alt="" loading="eager" />
      </div>
      <h1>Random Number Generator</h1>
      <p><em>Random number generator</em></p>
    </header>
    <section class="random-number-box">
      <p>Your Random Number:<br /><strong>4</strong></p>
    </section>
    <hr />
    <p>
      This tool uses <strong>pseudo-quantum entangled qubits</strong> to ethically incorporate <strong
        >AI-cooperative techniques</strong
      > in a revolutionary leap in random number generation technology to provide <strong
        >unparalleled and impervious ingenuity and secrecy and security</strong
      >&mdash;the result of which is a 100% <strong>machine-learning backed</strong> random number. Utilizing multiple new
      technologies such as the <strong>blockchain deep learning</strong> and <strong>cloud-native edge computing</strong
      >, we have been able to seamlessly integrate on-the-ground thinking through <strong
        >computational API endpoint pre-routing</strong
      > for the most efficient customer experience possible. This allows our service to provide fast, reliable, secure, robust,
      strict, deranged, optimal, safe, unbiased, and integral random numbers for your everyday needs!
    </p>
    <blockquote>
      "Your numbers, your way."
      <footer><cite>&ndash; Gandhi?</cite></footer>
    </blockquote>
    <p>
      In the development of this <strong>cutting-edge technology</strong>, we have streamlined this system to provide
      you with a simple generator that can supply these numbers with <strong>100% coverage and uptime</strong>!
    </p>
    <p>
      Now, you may be asking how this is even possible. To be honest, we don't even know! Some people in suits came to
      the office and told us to install some suspicious looking boxes and this generator appeared a few days later.
      Please take it off our hands! The company fridge has been getting colder and we don't know why. Please, please!
    </p>
    <h2>Additional Information</h2>
    <p>To help with any questions that you might have, here is a list of some frequently asked questions:</p>
    <section class="faq">
      <details>
        <summary>Is this real?</summary>
        <p>No.</p>
      </details>
    </section>
  </article>
  <section>
    <Ending />
  </section>
</Layout>

<style>
  .cover {
    margin-bottom: var(--pico-spacing);
  }
  .cover img {
    max-height: 80vh;
  }

  header {
    margin: 0;
    padding: 0;

    background-color: transparent;

    text-align: center;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1;
  }

  .random-number-box {
    font-size: 200%;
    min-height: 40vh;
    display: grid;
    place-items: center;
    text-align: center;
  }

  .faq {
    padding: 0.5rem;
  }
</style>
