---
import Layout from "@/layouts/Layout.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Ending from "@/components/Ending.astro";
import SvgConverter from "@/components/SvgConverter.svelte";

import thumbImage from "@/images/svg-to-url.png";
---

<Layout suffix="Tools" title="FireIsTools" description="A JavaScript terminal" image={thumbImage.src}>
  <Breadcrumb />
  <article>
    <header>
      <h1>SVG to URL</h1>
      <p><em>Converts SVGs to Data URLs</em></p>
    </header>
    <SvgConverter client:load />
    <hr />
    <p>
      Some of my favorite tools give the option to copy an SVG as the HTML element. This works for most applications,
      but breaks if I want to use it in CSS. To remedy this, this tool allows the conversion of that SVG element into a
      Data URL for use as a background image or just in general.
    </p>
    <h2>Additional Resources</h2>
    <ul>
      <li><a href="https://lucide.dev/icons/" target="_blank">Lucide</a> set of matching simple icons</li>
      <li>
        <a href="https://icon-sets.iconify.design" target="_blank">Iconify</a> search page for (basically) all icon packs
        at once
      </li>
      <li><a href="https://www.svgrepo.com" target="_blank">SVG Repo</a> search page for lots of vector images</li>
    </ul>
  </article>
  <section>
    <Ending />
  </section>
</Layout>

<style>
  header {
    margin: 0;
    padding: 0;

    background-color: transparent;

    text-align: center;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1;
  }
</style>
