---
import Layout from "@/layouts/Layout.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import PostList from "@/components/PostList.astro";
---

<Layout suffix="Blog" title="FireIsBlog">
  <Breadcrumb />
  <h1>All blog posts</h1>
  <hr />
  <PostList />
</Layout>
