@font-face {
  font-family: "STIXTwoText";
  src: url("/fonts/STIXTwoText-variable.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "STIXTwoText";
  src: url("/fonts/STIXTwoText-italic-variable.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Variables and Pico overrides */
:root {
  --size-main: 960px;
  --pico-font-family: "STIXTwoText", sans-serif;
}

/* General layout stuff */
html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr); /* Evil grid bug */
  line-height: 1.5;
}

main {
  max-width: var(--size-main);
}

html,
article {
  transition: background-color var(--pico-transition);
}

/* Fix scrollbars moving over the body if possible */
@media (min-width: 800px) {
  :root {
    scrollbar-gutter: stable both-edges;
  }
}

/* Screen reader shenans */
.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

/* Actual global element styles */
img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  object-fit: cover;
  border-radius: var(--pico-border-radius);
}

a[href^="#"] {
  scroll-margin-top: 50vh;
}
code,
kbd {
  color: var(--pico-contrast);
  padding: 0.375em 0.375em 0.1em;
}
