---
import Layout from "@/layouts/Layout.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Ending from "@/components/Ending.astro";
---

<Layout suffix="About" title="About Me" description="About page">
  <Breadcrumb />
  <article>
    <h1>About Me</h1>
    <p>It's me!</p>
  </article>
  <Ending />
</Layout>
