---
import Layout from "@/layouts/Layout.astro";
import PostList from "@/components/PostList.astro";
import Ending from "@/components/Ending.astro";
---

<Layout title="FireIsWebsite">
  <section class="hero">
    <h1>Hey, you!</h1>
    <p>Welcome to my personal website</p>
  </section>
  <section>
    <article class="inset">
      <h2>What is this?</h2>
      <p>
        The start of my website. I've made this to be a sort of headquarters for my web dev stuff. I'm a CSS enjoyer, so
        I hope this can host some fun stuff over time.
      </p>
      <p>
        This was created with <a href="https://astro.build/">Astro</a> and <a
          href="https://picocss.com/"
          target="_blank">Pico CSS</a
        >.
      </p>
    </article>
  </section>
  <section>
    <h2>Recent blog posts</h2>
    <PostList postCount={3} />
    <p class="link-to-posts"><a href="/blog">See all posts &rarr;</a></p>
  </section>
  <section>
    <Ending />
  </section>
</Layout>

<style>
  section:not(.hero) + section {
    margin-top: 4rem;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    > h1 {
      font-size: 2.5rem;
    }
  }

  .link-to-posts {
    text-align: right;
  }

  @media (max-width: 450px) {
    .hero {
      min-height: calc(60vh - 6rem);
    }
  }
</style>
