---
import Layout from "@/layouts/Layout.astro";
import PostList from "@/components/PostList.astro";
import ToolList from "@/components/ToolList.astro";
import Ending from "@/components/Ending.astro";
import WebsiteStructuredData from "@/components/WebsiteStructuredData.astro";
import { Image } from "astro:assets";

import heroImage from "@/images/fireimage.gif";
---

<Layout title="FireIsWebsite">
  <WebsiteStructuredData slot="structured-data" />
  <section class="hero">
    <div class="hero-content">
      <Image src={heroImage} width={400} alt="" loading="eager" class="hero-image" />
      <div class="hero-text">
        <h1>FireIsGood</h1>
        <p>How did you get here?</p>
        <div class="buttons">
          <a role="button" class="secondary" href="#works">My Works &darr;</a>
          <a role="button" class="secondary outline" href="/about">About &rarr;</a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 id="works">Works</h2>
    <p>
      When I have the time, I like to write articles and silly tools. When I have even more time, I like to contribute
      to Open Source software. I enjoy doing origami and pondering arguably deranged topics as an aside. No matter how
      you got here, I hope you enjoy what you find.
    </p>
    <p>You can find all the things I do on my <a href="https://github.com/FireIsGood" target="_blank">GitHub</a></p>
  </section>
  <hr />
  <section>
    <h2>Recent blog posts</h2>
    <PostList postCount={3} />
  </section>
  <section>
    <h2>Recent tools</h2>
    <ToolList toolCount={3} />
  </section>
  <section>
    <Ending />
  </section>
</Layout>

<style>
  section + section {
    margin-top: 2rem;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 4.5rem);
    max-width: 720px;
    margin-inline: auto;
    padding-bottom: 4.5rem;
  }

  .hero-content {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    h1 {
      font-size: 4rem;
      line-height: 1;
    }

    p {
      margin-bottom: 1.4rem;
    }
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-image {
    order: 1;
    margin: 0;
    max-width: 35%;
    animation: float 4s infinite;
    box-shadow: var(--shadow-outset);
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
  }

  a[role="button"] {
    font-size: 0.9rem;
    padding: 0.5em 1em;
    border-radius: 2rem;
  }

  hr {
    margin-block: 2.5rem;
  }

  #works {
    scroll-margin-top: 4rem;
  }

  @media (max-width: 450px) {
    .hero {
      min-height: calc(100vh - 8.5rem);
      padding-bottom: 8.6rem;
    }
    .hero-content {
      flex-direction: column;
    }
    .hero-image {
      order: unset;
      margin-inline: auto;
      max-width: 60%;
      margin-bottom: 1.5rem;
    }
  }

  @keyframes float {
    0%,
    100% {
      translate: 0 0;
    }
    50% {
      translate: 0 -8px;
    }
  }
</style>
