---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="FireIsWebsite">
  <section class="hero">
    <h1>Hey, you!</h1>
    <p>This is my blog</p>
  </section>
  <article>
    <h2>What is this?</h2>
    <p>The bare bones of my website. I have yet to improve it!</p>
    <p>
      This was created with <a href="https://astro.build/">Astro</a>. I used the default themplate and <em>heavily</em> modified
      it.
    </p>
  </article>
</Layout>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    > h1 {
      font-size: 2.5rem;
    }
  }

  @media (max-width: 450px) {
    .hero {
      min-height: calc(60vh - 6rem);
    }
  }
</style>
