---
import { Breadcrumbs } from "astro-breadcrumbs";
---

<Breadcrumbs linkTextFormat="capitalized">
  <Fragment slot="index">
    <span class="sr-only">Home page</span>
    <svg
      aria-label="Home page"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="breadcrumb-index"
      ><path
        d="M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z"
      ></path></svg
    >
  </Fragment>
  <svg
    slot="separator"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
  >
</Breadcrumbs>
<style is:global>
  .c-breadcrumbs {
    margin-bottom: calc(var(--pico-spacing) * 1.5);
    font-size: smaller;
  }

  .c-breadcrumbs * {
    color: var(--pico-muted-color);
  }

  :root nav.c-breadcrumbs :is(ol, li, a) {
    margin: 0;
    padding: 0;
  }

  .c-breadcrumbs ol {
    display: flex;
    gap: 0.75ch;
  }

  .breadcrumb-index {
    margin-bottom: 0.2em;
  }
</style>
