---

---

<script>
  const endingQuotes = [
    "ignis ergo sum",
    "bona officia",
    "cedere nescio",
    "dixi",
    "ignis fatuus",
    "in omnia paratus",
    "de novo",
    "ex ignis",
    "errare ignis est",
    "excelsior",
    "est ignis in rebus",
    "ignis aeterna",
    "nihil ultra",
    "post nubila phoebus",
  ];
  const endingElem = document.getElementById("ending");

  function setEnding(elem: HTMLElement | null) {
    if (elem === null) return;
    elem.innerText = endingQuotes[Math.floor(Math.random() * endingQuotes.length)] as string;
  }

  setEnding(endingElem);
  endingElem?.addEventListener("click", () => {
    setEnding(endingElem);
    endingElem?.classList.toggle("secondary-fade");
  });

  // Set up on reload
  document.addEventListener("astro:before-swap", (e) => {
    const endingElem = e.newDocument.getElementById("ending");
    setEnding(endingElem);
    endingElem?.addEventListener("click", () => {
      setEnding(endingElem);
      endingElem?.classList.toggle("secondary-fade");
    });
  });
</script>

<p id="ending" aria-hidden="true"></p>

<style>
  #ending {
    width: fit-content;
    margin-inline: auto;
    color: var(--pico-muted-color);
    font-style: italic;

    cursor: pointer;
    user-select: none;
    animation: ending-in-1 200ms;
  }

  #ending.secondary-fade {
    animation: ending-in-2 200ms;
  }

  @keyframes ending-in-1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes ending-in-2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
