---
interface Props {
  suffix: string;
}
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import HeaderLink from "@/components/HeaderLink.astro";
import { SITE_TITLE } from "@/consts";

const { suffix } = Astro.props;
---

<header>
  <nav>
    <h2 class="logo"><a href="/">{SITE_TITLE}{suffix}</a></h2>
    <div class="links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="theme-wrapper">
      <ThemeSwitcher />
    </div>
  </nav>
</header>

<style>
  header {
    padding: 0 1em 1em;
  }

  nav {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .logo {
    justify-self: left;
    margin: 0;
    font-size: 1.3em;
  }
  .logo a {
    padding-block: 0.5em;
    padding-inline: 0.5em 0;
    text-decoration: none;
  }

  nav a {
    border-block: 4px solid transparent;
    text-decoration: none;
    color: var(--pico-contrast);
  }

  .links {
    margin-left: auto;
    display: flex;
  }
  .links a {
    padding: 1em 0.5em;
    display: flex;
    align-items: center;
  }

  .theme-wrapper {
    margin-left: 1rem;
  }

  @media (max-width: 450px) {
    nav {
      display: grid;
      grid-template-areas:
        "title theme"
        "links links";
      justify-content: space-between;
      margin-block: 1em;
      font-size: 130%;
      flex-wrap: wrap;
    }

    .links {
      grid-area: links;
      margin-left: unset;
      justify-content: space-evenly;
      width: 100%;
    }

    .theme-wrapper {
      margin-left: 0;
    }
  }

  /* Padding if the gutters are not there */
  @media (width < 800px) {
    header {
      padding-inline: 1rem;
    }
  }
</style>
