---

---

<a href="#main" class="skip-to-content">Skip to Content</a>

<style>
  .skip-to-content {
    position: absolute;
    padding: 1rem;
    background-color: var(--theme-card);
    translate: calc(50vw - 50%) -200%;
    box-shadow: 0 0 10px black;
    transition: translate 100ms ease;

    &:where(:focus, :active, :hover) {
      translate: calc(50vw - 50%);
    }
  }
</style>
