---
import type { MarkdownHeading } from "astro";

type ExtendedMarkdownHeading = MarkdownHeading & { subheadings: ExtendedMarkdownHeading[] };

type Props = {
  heading: ExtendedMarkdownHeading;
};

const { heading } = Astro.props;
---

<li>
  <a href={"#" + heading.slug}>
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul>
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
