---
interface Props {
  suffix?: string;
  title: string;
  description?: string;
  image?: string;
}
import "@/styles/pico.red.min.css";
import "@/styles/global.css";

import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_DESCRIPTION, SITE_EMBED_IMAGE } from "@/consts";

const { suffix = "Website", title, description = SITE_DESCRIPTION, image = SITE_EMBED_IMAGE } = Astro.props;
---

<!doctype html>
<!--
A source code peeker? Incredible!

I put a lot of work into making all the structure of this website semantic. If you'd like to see all the details, check out the repo!

Have an souvenir:

    u.-*'M'*-.u
  x`   _____   `x
 o`  _|  ___|   `o
,   |   |___      ,
3   |_      |     E
'     |  _  |     '
 o,   |_| |_|   ,o
  x".         ."x
    n"--.W.--"n

-->
<html lang="en">
  <BaseHead title={title} description={description} image={image} />
  <slot name="structured-data" />
  <body>
    <Header suffix={suffix} />
    <main id="main" class="container-fluid">
      <slot>
        <p>There should be content here!</p>
      </slot>
    </main>
    <Footer />
  </body>
</html>
